<!DOCTYPE html>
<html>
  <head>
    <title>REST API Test</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Rest API</h1>
    <p>Fadhil Mochammad</p>
  </body>
</html>
